<html>
<head><style>

input[type=submit]{
  background-color: black;
  border: blue;
  color: white;
  padding: 20px 35px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  align-self: center;
  text-align: center;
  background-position: center;

}
input[type=submit]:hover {
  color: #04286e;
background: #000;
border: 1px solid #000;
}
body  {
  background-image: url("/img/4.jpg");
  background-color: #ece7e7;
  height: 650px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
}
input[type=text], input[type=password] {
  /*width: 100%;*/
  padding: 10px 10px;
  /* margin: 8px 0; */
  /*display: inline-block;*/
  /* border: 4px solid #ccc; */
  /* box-sizing: border-box; */
}

button[type=menu] {
  background-color: rgb(14, 24, 177);
  color: rgb(5, 5, 7);
  padding: 20px 20px;
  margin: 8px 0;
  border: none;
  align-self: center;
  text-align: center;
  background-position: center;
  margin-left: 600px;
}


</style><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body style="font-size: 20px; text-decoration-color: cornsilk;">
  <b>
  <!-- <h3>Insert Employee Details! </h3> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/employee">EMPLOYEE <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/loan">LOAN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/salary">PAYMENTS</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                OPTIONS
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/insert">INSERT</a>
                <a class="dropdown-item" href="/delete">DELETE</a>
                <a class="dropdown-item" href="/view">VIEW</a>
                <a class="dropdown-item" href="/update">UPDATE</a>
                <a class="dropdown-item" href="/search">SEARCH</a>
              </div>
            </li>
          </ul>
         
        </div>
      </nav>
      <br><br><br>
<button type="menu">
                  <div align="center">
                        <div class="container" ng-app = "payApp" ng-controller = "payCtrl">
                                <b>  <h3>EMPLOYEE DETAILS</h3></b>
                                  <div class="pay-item">
          <div class="table">
    


        <% if (data.length > 0) %>
            <table class="table table-hovered">
                <thead class="thead-dark" >
                    <tr>
                        <th scope="col">NAME</th>
                        <th scope="col">AGE</th>
                        <th scope="col">ID</th>
                        <th scope="col">ADDRESS</th>
                        <th scope="col">EMAIL</th>

                       
                         
                        
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach((cust, index) => { %>
                        <tr>
                            <th scope="row"><%= cust.e_name %></th>
                            
                            
                            <th scope="row"><%= cust.e_age %></th>
                            <th scope="row"><%= cust.e_id %></th>
                            <th scope="row"><%= cust.e_address %></th>
                            <th scope="row"><%= cust.e_email %></th>

                           
                            

                             
                            
                        </tr>
                    <% }) %>
                </tbody>
            </table>
       
    </div>
</div>
</b>
</button>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>